<section>
    <div [ngClass]="navbarType == 'regular' ? 'top-color':'top-color-1'">
        <div class="tab-view">
            <button [ngClass]="navbarType == 'regular' ? 'Greenbutton':'support'" (click)="switchTab('regular')"
                mat-raised-button>Regular</button>
            <button [ngClass]="navbarType == 'prime' ? 'slideButton':'supportbutton_prime'" (click)="switchTab('prime')"
                mat-button>PRIME</button>
        </div>
        <div class="row mt-4 mx-0" *ngIf="navbarType == 'regular'">
            <div class="col-6">
                <h5 class="text-white text-size ms-3">MATCHES</h5>
            </div>
            <div class="col-6">
                <div class="float-end">
                    <mat-icon class="text-white me-3"> notifications </mat-icon>
                    <mat-icon class="text-white me-3"> headset_mic </mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div ngxHideOnScroll [classNameWhenHidden]="'nav--hidden'">
        <mat-tab-group class="top-color" mat-align-tabs="center" *ngIf="navbarType == 'regular'"
            [selectedIndex]="tabSelected" (selectedIndexChange)="specificTabSelection($event)">
            <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
                <app-regular-slide [footerHide]="showFooter" [userList]="currentTabData"></app-regular-slide>
            </mat-tab>
        </mat-tab-group>
    </div>
    <app-prime-slide *ngIf="navbarType == 'prime'"></app-prime-slide>
</section>