.top-color {
  background-color: #ec6363;
}
.tab-view button {
  font-size: 16px;
  padding: 2px 20px;
}
.Greenbutton {
  color: #fff;
  border-radius: 25px;
  border: 2px solid #dfdfdf;
  position: relative;
  z-index: 1;
  background-color: #990000;
  background-image: linear-gradient(1deg, #990000 0%, #ff0000 74%);
}
.tab-view {
  display: flex;
  width: fit-content;
  margin: auto;
  padding-top: 20px;
}
.slideButton {
  background-color: #f9484a;
  background-image: linear-gradient(260deg, #f9484a 0%, #fbd72b 74%);
  color: #fff;
  border-radius: 25px;
  border: 2px solid #dfdfdf;
  position: relative;
  z-index: 1;
}
.support {
  background-color: #fff;
  color: #2a2a72;
  text-transform: uppercase;
  padding: 0px 30px !important;
  height: 34px;
  border-radius: 26px;
  font-size: 18px !important;
  position: relative;
  margin-right: -22px;
  top: 5px;
}
button {
  margin: 0 auto;
  display: block;
}
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.top-color-1 {
  background-color: #00629c;
  background-image: linear-gradient(313deg, #000000 0%, #04619f 0%);
}
:host ::ng-deep {
  .mat-tab-label,
  .mat-tab-link {
    color: white;
    font-weight: bolder;
    font-size: 19px;
  }
}
.supportbutton_prime {
  background-color: #fff;
  color: black;
  text-transform: uppercase;
  padding: 0px 30px !important;
  height: 34px;
  border-radius: 26px;
  font-size: 18px !important;
  position: relative;
  margin-left: -22px;
  top: 5px;
}

::ng-deep{
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #fff !important;
  }
}

.text-size {
  font-size: 19px;
  font-weight: 600;
}  
h5{
  font-family: 'Times New Roman', Times, serif;
}
:host ::ng-deep {

  .mat-tab-header-pagination {
    display: none !important;
  }
  .mat-tab-label, [_nghost-yqd-c76] .mat-tab-link {
    color: white;
    font-weight: bolder;
    font-size: 13px;
    padding: 5px !important;
}  
}
