<div class="similar">
    <div class="row mx-0 mt-4">
        <div class="col-8">
            <h4>12 New Members Who match your profile information</h4>
        </div>
        <div class="col-4">
            <button mat-raised-button>
                <mat-icon>edit</mat-icon> Edit
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" *ngFor="let item of userList; index as i">
            <div class="classWrapper shadow px-2 bg-white rounded">
                <div class="card-size">
                    <div class="card_image">
                        <img class="ms-2 mt-3" src={{item.imgUrl}}
                            alt="Card image">
                            <button  mat-button class="text-uppercase prime-btn ms-3 px-2 fixedPos" *ngIf="item.isPrimeUser">Prime</button>
                    </div>
                    <div class="card-width">
                        <div class="card_text">
                            <ul>
                                <li class="item_drop">{{item.profileId}}</li>
                                <li *ngIf="item.isPrimeUser" class="prime_drop">{{item.profileType}}
                                    <span>
                                        <mat-icon class="iconRotate text-warning"> turned_in </mat-icon>
                                    </span>
                                </li>
                                <mat-icon class="float-end">more_vert</mat-icon>
                            </ul>
                        </div>
                        <h3 id="blur">{{item.profileName}}</h3>
                        <h5 class="card-text">{{item.age}} yrs, {{item.height}}", {{item.degree}}, {{item.caste}},
                            {{item.city}}, {{item.state}}</h5>
                    </div>
                </div>
                <ul class="transfer d-flex justify-content-between mx-1">
                    <span><img class="mb-1" src="../../../assets/images/skyBlueStar.png" alt="img" />
                        <li>Shortlist</li>
                    </span>
                    <span><img src="../../../assets/images/comment.png" alt="img" />
                        <li>2 Wks ago</li>
                    </span>
                    <span><img src="../../../assets/images/roundTick.png" alt="img" />
                        <li>Send Interest</li>
                    </span>
                </ul>

            </div>
        </div>
        <div class="staticIcon fixed-bottom">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon class="filterIcon">filter_alt</mat-icon>
            </button>
        </div>
    </div>

</div>

<div class="footer" *ngIf="!hiddenFooter">
    <ul class="d-flex justify-content-between">
        <li>
            <mat-icon class="text-muted ms-2"> home </mat-icon>
            <p> Home </p>
        </li>
        <li>
            <!-- <mat-icon class="text-muted ms-3"> group </mat-icon> -->
            <img class="imgsize" src="../../../assets/images/matrimony.png">
            <p>Matches</p>
        </li>
        <li>
            <mat-icon class="text-muted ms-1.5"> mail </mat-icon>
            <p> Mail </p>
        </li>
        <li>
            <mat-icon class="text-muted ms-2"> search </mat-icon>
            <p> Search </p>
        </li>
        <li>
            <mat-icon class="text-muted ms-2"> person </mat-icon>
            <p> Profile </p>
        </li>
    </ul>
</div>